body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3;
    margin: 0px;
    padding: 0px;
    background: linear-gradient(90deg, white 0%, green 85%);
}

.box {
    background-color: #f1f1f1;
    border-style: solid;
    width: 40vw;
    margin: 50px auto auto auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

@media (max-width: 500px) {
    .box {
        width: 75vw;
        font-size: 70%;
        padding: 20px;
    }

    h2,
    h3 {
        text-align: center;
    }
}

section fieldset {
    margin: 10px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg, white 0%, gray 90%);
}


fieldset label {
    align-self: center;
}

input {
    margin: 10px;
}