body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3;
    margin: 0px;
    padding: 0px;
    background: linear-gradient(90deg, white 0%, green 85%);
}

.box {
    background-color: #f1f1f1;
    border-style: solid;
}

header {
    width: 40%;
    margin: 50px auto auto auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    width: 40%;
    margin: 50px auto auto auto;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

#title {
    margin-top: 10%;
}

#description {
    font-size: 1.3em;
    text-align: justify;
    padding: 10%;
}

section fieldset {
    margin: 10px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg, white 0%, gray 90%);
}

fieldset label {
    align-self: center;
}

[type='checkbox'] {
    margin: 10px;
}

[type='radio'] {
    margin: 10px;
}